.activeViewMain {
  display: flex;
  align-items: center;
  width: calc(100% - 10px);
  padding: 2px 4px 2px 4px;
  column-gap: 5px;
  border-radius: 4px;
  font-weight: 900;
}

.activeView {
  flex-grow: 1;
  align-items: center;
  display: flex;
  justify-content: center;
}

.activeViewText {
  margin-right: 5px;
}