@import '../../general/common.css';

.agViewManagerListMain svg {
  background-color: var(--var-smart-search-smoke);
  color: var(--var-smart-search-background);
  border-radius: 3px;
  font-size: small;
}

.agViewManagerListMain svg:hover {
  background-color: var(--var-smart-search-hover);
  color: var(--var-smart-search-faded);
}

.agViewManagerListMain {
  position: relative;
  display: flex;
  border-top: 1px solid var(--var-smart-search-smoke);
  border-left: 1px solid var(--var-smart-search-smoke);
  border-bottom: 1px solid var(--var-smart-search-stone);
  border-right: 1px solid var(--var-smart-search-stone);
  background: var(--var-smart-search-background);
  color: var(--var-smart-search-main);
  align-items: center;
  flex-direction: column;
  height: calc(100% - 14px);
  padding: 6px;
}

.agViewManagerListMain input {
  border: none;
  outline: none;
  border-top: 1px solid var(--var-smart-search-smoke);
  border-left: 1px solid var(--var-smart-search-smoke);
  border-bottom: 1px solid var(--var-smart-search-stone);
  border-right: 1px solid var(--var-smart-search-stone);
  flex-grow: 1;
  min-width: 120px;
}

.agViewManagerListMain input:hover {
  border: 2px solid var(--var-smart-search-icon);
}

.agViewManagerListMain input:focus-within {
  border: 2px solid var(--var-smart-search-focus);
}

.agViewManagerListMain input:valid-within {
  border: 2px solid var(--var-smart-search-focus);
}

.agViewManagerListHeader {
  background-color: var(--var-smart-search-header);
  width: 100%;
  text-align: center;
  margin-bottom: 2px;
  border-top: 1px solid var(--var-smart-search-smoke);
  border-bottom: 1px solid var(--var-smart-search-smoke);
}

.agViewManagerListMain h6 {
  margin-block-start: 0.40em;
  margin-block-end: 0.40em;
}

.agViewManagerListItems {
  align-items: flex-start;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
}

.agViewManagerListMain ul {
  list-style-type: none;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  width: 100%;
}

.agViewManagerListMain li {
  display: flex;
  column-gap: 5px;
  padding-left: px;
  align-items: center;
  width: 100%;
}

.horizontalSeperator {
  width: 100%;
  border-top: 1px solid var(--var-smart-search-stone);
  margin-top: 3px;
  margin-bottom: 3px;
}

.agViewManagerListNewView {
  padding: 5px;
  display: flex;
  flex-direction: row;
  column-gap: 3px;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.agViewManagerSaveNew:hover {
  color: var(--var-smart-search-hover);
}

.viewItemRenamewAddText {
  font-size: xx-small;
}

.agViewManagerListSeperator {
  border-bottom: 1px solid var(--var-smart-search-stone);
  width: 100%;
}