.viewItem {
  color: var(--var-smart-search-link);
  width: calc(100% - 24px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.viewItem:hover {
  color: var(--var-smart-search-focus);
}

.viewItemRenamewText {
  font-size: xx-small;
}